@import url("https://unpkg.com/tailwindcss@2.1.1/dist/base.css");

@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");

.font-rokkitt {
  font-family: "Rokkitt", serif;
}

.overflow-hidden {
  overflow: hidden;
}

:root {
  --color-red: #702a2a;
  --color-red-light: #d05448;
  --color-yellow: #e3a609;
}

.bg-red {
  background-color: var(--color-red);
}
.bg-red-light {
  background-color: var(--color-red-light);
}
.bg-white {
  background-color: white;
}

.text-yellow {
  color: var(--color-yellow);
}

.text-right {
  text-align: right;
}

/* === font size === */
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

/* === z-index === */
@for $i from 1 through 10 {
  .w-#{$i}0 {
    z-index: #{$i}0;
  }
}

/* === size === */
@for $i from 4 through 96 {
  .w-#{$i} {
    width: calc(#{$i}rem / 4);
  }
}
.w-1\/2 {
  width: 50%;
}
.w-3\/4 {
  width: 75%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-screen-3\/4 {
  height: 75vh;
}

@for $i from 4 through 96 {
  .h-#{$i} {
    height: calc(#{$i}rem / 4);
  }
}

/* === spacing === */
@for $i from 0 through 96 {
  .p-#{$i} {
    padding: calc(#{$i}rem / 4);
  }
  .px-#{$i} {
    padding-left: calc(#{$i}rem / 4);
    padding-right: calc(#{$i}rem / 4);
  }
  .py-#{$i} {
    padding-top: calc(#{$i}rem / 4);
    padding-bottom: calc(#{$i}rem / 4);
  }
}

@for $i from 0 through 96 {
  .m-#{$i} {
    margin: calc(#{$i}rem / 4);
  }
  .mx-#{$i} {
    margin-left: calc(#{$i}rem / 4);
    margin-right: calc(#{$i}rem / 4);
  }
  .my-#{$i} {
    margin-top: calc(#{$i}rem / 4);
    margin-bottom: calc(#{$i}rem / 4);
  }
  .mt-#{$i} {
    margin-top: calc(#{$i}rem / 4);
  }
}

.mt-auto {
  margin-top: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 0 through 96 {
  .space-y-#{$i} > * + * {
    margin-top: calc(#{$i}rem / 4);
    margin-bottom: calc(#{$i}rem / 4);
  }
}

/* === position === */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}

/* === flex === */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}

$justify-content: (flex-start, flex-end, center, space-between, space-around);
@each $value in $justify-content {
  .justify-#{$value} {
    justify-content: $value;
  }
}

$align-items: (flex-start, flex-end, center);
@each $value in $align-items {
  .items-#{$value} {
    align-items: $value;
  }
}

/* === border radius === */
$border-radius: (
  "rounded-none": 0px,
  "rounded-sm": 0.125rem,
  "rounded": 0.25rem,
  "rounded-md": 0.375rem,
  "rounded-lg": 0.5rem,
  "rounded-xl": 0.75rem,
  "rounded-2xl": 1rem,
  "rounded-3xl": 1.5rem,
  "rounded-full": 9999px,
);
@each $name, $value in $border-radius {
  .#{$name} {
    border-radius: $value;
  }
}

/* === grid === */
.grid {
  display: grid;
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.gap-4 {
  gap: 1rem;
}
.perspective {
  perspective: 200px;
  // width: calc(100% / 6);
  height: 8rem;
  &:hover {
    .top {
      height: 1.5rem;
      transform: rotateX(30deg);
    }
  }
}
.top {
  background: #cf5448;
  height: 0.75rem;
  width: 100%;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  transform: rotateX(45deg);
  transition: all 0.5s;
}

.front {
  background: #691403;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 100%;
  background: #4c0801;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 -1px 0 0 #cf5448;
}

button > div:first-child {
  transform: rotate(180deg);
}
.run > div {
  transition: all 0.5s;
  animation: spin 4 1s alternate;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1) skewY(0);
  }
  to {
    transform: rotate(360deg) scale(0.5) skewY(20deg);
  }
}
