/* === width === */
.w-4 {
  width: calc(4rem / 4);
}

.w-5 {
  width: calc(5rem / 4);
}

.w-6 {
  width: calc(6rem / 4);
}

.w-7 {
  width: calc(7rem / 4);
}

.w-8 {
  width: calc(8rem / 4);
}

.w-9 {
  width: calc(9rem / 4);
}

.w-10 {
  width: calc(10rem / 4);
}

.w-11 {
  width: calc(11rem / 4);
}

.w-12 {
  width: calc(12rem / 4);
}

.w-13 {
  width: calc(13rem / 4);
}

.w-14 {
  width: calc(14rem / 4);
}

.w-15 {
  width: calc(15rem / 4);
}

.w-16 {
  width: calc(16rem / 4);
}

.w-17 {
  width: calc(17rem / 4);
}

.w-18 {
  width: calc(18rem / 4);
}

.w-19 {
  width: calc(19rem / 4);
}

.w-20 {
  width: calc(20rem / 4);
}

.w-21 {
  width: calc(21rem / 4);
}

.w-22 {
  width: calc(22rem / 4);
}

.w-23 {
  width: calc(23rem / 4);
}

.w-24 {
  width: calc(24rem / 4);
}

.w-25 {
  width: calc(25rem / 4);
}

.w-26 {
  width: calc(26rem / 4);
}

.w-27 {
  width: calc(27rem / 4);
}

.w-28 {
  width: calc(28rem / 4);
}

.w-29 {
  width: calc(29rem / 4);
}

.w-30 {
  width: calc(30rem / 4);
}

.w-31 {
  width: calc(31rem / 4);
}

.w-32 {
  width: calc(32rem / 4);
}

.w-33 {
  width: calc(33rem / 4);
}

.w-34 {
  width: calc(34rem / 4);
}

.w-35 {
  width: calc(35rem / 4);
}

.w-36 {
  width: calc(36rem / 4);
}

.w-37 {
  width: calc(37rem / 4);
}

.w-38 {
  width: calc(38rem / 4);
}

.w-39 {
  width: calc(39rem / 4);
}

.w-40 {
  width: calc(40rem / 4);
}

.w-41 {
  width: calc(41rem / 4);
}

.w-42 {
  width: calc(42rem / 4);
}

.w-43 {
  width: calc(43rem / 4);
}

.w-44 {
  width: calc(44rem / 4);
}

.w-45 {
  width: calc(45rem / 4);
}

.w-46 {
  width: calc(46rem / 4);
}

.w-47 {
  width: calc(47rem / 4);
}

.w-48 {
  width: calc(48rem / 4);
}

.w-49 {
  width: calc(49rem / 4);
}

.w-50 {
  width: calc(50rem / 4);
}

.w-51 {
  width: calc(51rem / 4);
}

.w-52 {
  width: calc(52rem / 4);
}

.w-53 {
  width: calc(53rem / 4);
}

.w-54 {
  width: calc(54rem / 4);
}

.w-55 {
  width: calc(55rem / 4);
}

.w-56 {
  width: calc(56rem / 4);
}

.w-57 {
  width: calc(57rem / 4);
}

.w-58 {
  width: calc(58rem / 4);
}

.w-59 {
  width: calc(59rem / 4);
}

.w-60 {
  width: calc(60rem / 4);
}

.w-61 {
  width: calc(61rem / 4);
}

.w-62 {
  width: calc(62rem / 4);
}

.w-63 {
  width: calc(63rem / 4);
}

.w-64 {
  width: calc(64rem / 4);
}

.w-65 {
  width: calc(65rem / 4);
}

.w-66 {
  width: calc(66rem / 4);
}

.w-67 {
  width: calc(67rem / 4);
}

.w-68 {
  width: calc(68rem / 4);
}

.w-69 {
  width: calc(69rem / 4);
}

.w-70 {
  width: calc(70rem / 4);
}

.w-71 {
  width: calc(71rem / 4);
}

.w-72 {
  width: calc(72rem / 4);
}

.w-73 {
  width: calc(73rem / 4);
}

.w-74 {
  width: calc(74rem / 4);
}

.w-75 {
  width: calc(75rem / 4);
}

.w-76 {
  width: calc(76rem / 4);
}

.w-77 {
  width: calc(77rem / 4);
}

.w-78 {
  width: calc(78rem / 4);
}

.w-79 {
  width: calc(79rem / 4);
}

.w-80 {
  width: calc(80rem / 4);
}

.w-81 {
  width: calc(81rem / 4);
}

.w-82 {
  width: calc(82rem / 4);
}

.w-83 {
  width: calc(83rem / 4);
}

.w-84 {
  width: calc(84rem / 4);
}

.w-85 {
  width: calc(85rem / 4);
}

.w-86 {
  width: calc(86rem / 4);
}

.w-87 {
  width: calc(87rem / 4);
}

.w-88 {
  width: calc(88rem / 4);
}

.w-89 {
  width: calc(89rem / 4);
}

.w-90 {
  width: calc(90rem / 4);
}

.w-91 {
  width: calc(91rem / 4);
}

.w-92 {
  width: calc(92rem / 4);
}

.w-93 {
  width: calc(93rem / 4);
}

.w-94 {
  width: calc(94rem / 4);
}

.w-95 {
  width: calc(95rem / 4);
}

.w-96 {
  width: calc(96rem / 4);
}

.w-1\/2 {
  width: 50%;
}

.w-3\/4 {
  width: 75%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

/* === height === */
.h-4 {
  height: calc(4rem / 4);
}

.h-5 {
  height: calc(5rem / 4);
}

.h-6 {
  height: calc(6rem / 4);
}

.h-7 {
  height: calc(7rem / 4);
}

.h-8 {
  height: calc(8rem / 4);
}

.h-9 {
  height: calc(9rem / 4);
}

.h-10 {
  height: calc(10rem / 4);
}

.h-11 {
  height: calc(11rem / 4);
}

.h-12 {
  height: calc(12rem / 4);
}

.h-13 {
  height: calc(13rem / 4);
}

.h-14 {
  height: calc(14rem / 4);
}

.h-15 {
  height: calc(15rem / 4);
}

.h-16 {
  height: calc(16rem / 4);
}

.h-17 {
  height: calc(17rem / 4);
}

.h-18 {
  height: calc(18rem / 4);
}

.h-19 {
  height: calc(19rem / 4);
}

.h-20 {
  height: calc(20rem / 4);
}

.h-21 {
  height: calc(21rem / 4);
}

.h-22 {
  height: calc(22rem / 4);
}

.h-23 {
  height: calc(23rem / 4);
}

.h-24 {
  height: calc(24rem / 4);
}

.h-25 {
  height: calc(25rem / 4);
}

.h-26 {
  height: calc(26rem / 4);
}

.h-27 {
  height: calc(27rem / 4);
}

.h-28 {
  height: calc(28rem / 4);
}

.h-29 {
  height: calc(29rem / 4);
}

.h-30 {
  height: calc(30rem / 4);
}

.h-31 {
  height: calc(31rem / 4);
}

.h-32 {
  height: calc(32rem / 4);
}

.h-33 {
  height: calc(33rem / 4);
}

.h-34 {
  height: calc(34rem / 4);
}

.h-35 {
  height: calc(35rem / 4);
}

.h-36 {
  height: calc(36rem / 4);
}

.h-37 {
  height: calc(37rem / 4);
}

.h-38 {
  height: calc(38rem / 4);
}

.h-39 {
  height: calc(39rem / 4);
}

.h-40 {
  height: calc(40rem / 4);
}

.h-41 {
  height: calc(41rem / 4);
}

.h-42 {
  height: calc(42rem / 4);
}

.h-43 {
  height: calc(43rem / 4);
}

.h-44 {
  height: calc(44rem / 4);
}

.h-45 {
  height: calc(45rem / 4);
}

.h-46 {
  height: calc(46rem / 4);
}

.h-47 {
  height: calc(47rem / 4);
}

.h-48 {
  height: calc(48rem / 4);
}

.h-49 {
  height: calc(49rem / 4);
}

.h-50 {
  height: calc(50rem / 4);
}

.h-51 {
  height: calc(51rem / 4);
}

.h-52 {
  height: calc(52rem / 4);
}

.h-53 {
  height: calc(53rem / 4);
}

.h-54 {
  height: calc(54rem / 4);
}

.h-55 {
  height: calc(55rem / 4);
}

.h-56 {
  height: calc(56rem / 4);
}

.h-57 {
  height: calc(57rem / 4);
}

.h-58 {
  height: calc(58rem / 4);
}

.h-59 {
  height: calc(59rem / 4);
}

.h-60 {
  height: calc(60rem / 4);
}

.h-61 {
  height: calc(61rem / 4);
}

.h-62 {
  height: calc(62rem / 4);
}

.h-63 {
  height: calc(63rem / 4);
}

.h-64 {
  height: calc(64rem / 4);
}

.h-65 {
  height: calc(65rem / 4);
}

.h-66 {
  height: calc(66rem / 4);
}

.h-67 {
  height: calc(67rem / 4);
}

.h-68 {
  height: calc(68rem / 4);
}

.h-69 {
  height: calc(69rem / 4);
}

.h-70 {
  height: calc(70rem / 4);
}

.h-71 {
  height: calc(71rem / 4);
}

.h-72 {
  height: calc(72rem / 4);
}

.h-73 {
  height: calc(73rem / 4);
}

.h-74 {
  height: calc(74rem / 4);
}

.h-75 {
  height: calc(75rem / 4);
}

.h-76 {
  height: calc(76rem / 4);
}

.h-77 {
  height: calc(77rem / 4);
}

.h-78 {
  height: calc(78rem / 4);
}

.h-79 {
  height: calc(79rem / 4);
}

.h-80 {
  height: calc(80rem / 4);
}

.h-81 {
  height: calc(81rem / 4);
}

.h-82 {
  height: calc(82rem / 4);
}

.h-83 {
  height: calc(83rem / 4);
}

.h-84 {
  height: calc(84rem / 4);
}

.h-85 {
  height: calc(85rem / 4);
}

.h-86 {
  height: calc(86rem / 4);
}

.h-87 {
  height: calc(87rem / 4);
}

.h-88 {
  height: calc(88rem / 4);
}

.h-89 {
  height: calc(89rem / 4);
}

.h-90 {
  height: calc(90rem / 4);
}

.h-91 {
  height: calc(91rem / 4);
}

.h-92 {
  height: calc(92rem / 4);
}

.h-93 {
  height: calc(93rem / 4);
}

.h-94 {
  height: calc(94rem / 4);
}

.h-95 {
  height: calc(95rem / 4);
}

.h-96 {
  height: calc(96rem / 4);
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-screen-3\/4 {
  height: 75vh;
}

/*# sourceMappingURL=size.css.map */
